extends layout.pug

block content
    link(rel="stylesheet" href="/stylesheets/index.css")
    form(action='/tasks' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
            label(for="content") Content:
            input(type="text" name="content" required)
        div
            label(for="dueDate") Due Date:
            input(type="date" name="dueDate")
        div
            label(for="listId") List:
            select(name="listId")
                option(value='') --Select a list--
                    each list in lists
                        option(value=list.id)= list.title
        div
            button(type='submit' class='btn btn-create-task') Add Task

    each task in tasks
        div(id=`task-container-${task.id}`)
            p(id=`content-${task.id}`)= task.content
            each list in task.Lists
                a(href=`/lists/${list.id}`) 
                    p(id=`task-${task.id}-list-name`)= `${list.title}`
            form(class='hidden' class='edit-task-form' id=`edit-task-form-${task.id}` method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                div
                    label(for="content") Content:
                    input(type='text' name='content' value=`${task.content}`)
                div
                    label(for='dueDate') Due Date:
                    input(type='date' name='dueDate' value=`${date}`)
                div
                    label(for="listId") List:
                    select(name="listId")
                        option(value='') --Select a list--
                            each list in lists
                                option(value=list.id)= list.title
                div
                    button(type='submit' class='btn btn-create-task') Save
                div
                    button(id=`cancel-task-form-${task.id}` type='submit' class='btn btn-cancel-task') Cancel
            button(id=`view-task-${task.id}` type='submit' class='btn btn-view-task' onclick=`window.location.href='/tasks/${task.id}'`) View
            button(id=`edit-task-${task.id}` type='submit' class='btn btn-edit-task') Edit Task
            button(id=`delete-task-${task.id}` type='submit' class='btn btn-delete-task') Delete Task
            div(id=`task-error-container-${task.id}`)
