extends layout.pug

block content
    //- nav.menu
    //-     ul
    //-         li
    //-             input(type='text' name='search' placeholder='Search') Search Bar
    //-         li
    //-             a(href='/') Home
    //-         li
    //-             a(href='') About
    //-         li
    //-             a(href='') Contact

    form(action='/tasks' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
            label(for="content") Content:
            input(type="text" name="content" required)
        div
            label(for="dueDate") Due Date:
            input(type="date" name="dueDate")
        div
            label(for="listId") List:
            select(name="listId")
                option(value='') --Select a list--
                    each list in lists
                        option(value=list.id)= list.title
        div
            button(type='submit' class='btn btn-create-task') Add Task
        //- div
        //-     button(type='submit' class='btn btn-create-task') Clear Task
    each task in tasks
        p= task.content
        button(onclick=`window.location.href='/tasks/${task.id}/edit'` type='submit' class='btn btn-edit-task') Edit Task
        div(id=`task-container-${task.id}` class=taskDeleteContainer)
            //- button(onclick=`window.location.href='/tasks/${task.id}/delete'` type='submit' class='btn btn-delete-task') Delete Task
            button(type='submit' class='btn btn-delete-task') Delete Task
