extends layout-loggedin.pug

block content
    link(rel="stylesheet" href="/stylesheets/index.css")
    div(class="view-all-list-btn-div")
        button(onclick=`window.location.href='/lists'` type='submit' class='btn btn-view-list') All lists
    div(class='details-div')
        div(class='details')
            div(class='task-detail')
                div(class="tasks-in-detail-pg")
                    //- p= `List ID : ${list.id}`
                    h2= `${list.title}`

            div(class="tasks-pg")
                each task in listofTasks
                    p(id=`content-${task.id}`)= `task : ${task.content}`
                    button(onclick=`window.location.href='/tasks/${task.id}'` type='submit' class='btn btn-view-task') Edit
