extends layout.pug

block content
    link(rel="stylesheet" href="/stylesheets/index.css")

    div(class="tasks-in-detail-pg")
        p= `List ID : ${list.id}`
        p= `List Content : ${list.title}`

    
    each task in listofTasks
        p(id=`content-${task.id}`)= `task ${task.id} : ${task.content}`
        button(onclick=`window.location.href='/tasks/${task.id}'` type='submit' class='btn btn-view-task') Edit task

