extends layout.pug

block content
    link(rel="stylesheet" href="/stylesheets/index.css")

    div(class="subtasks-in-detail-pg")
        p= `Task ID : ${task.id}`
        p= `Task Content : ${task.content}`
        p= `Task Due Date : ${task.dueDate}`

    div(class="check-to-complete")
        label(for="completed") Check to Completed ^_^
        if task.completed 
            input(type="checkbox" checked class="check-to-complete" id=`to-complete-${task.id}` name="completed") 
        else
            input(type="checkbox" class="check-to-complete" id=`to-complete-${task.id}` name="completed") 

    div(class="subtasks-in-detail-pg")
        p Create Subtasks:
        form(action=`/tasks/${task.id}` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            div
                label(for="content") Content:
                input(type="text" name="content" required)
            div
                button(id='task-buttons' type='submit' class='btn btn-create-task') Add Subtask
    div
        p Subtasks list:
        each subtask in subtasks
            div(id=`subtask-container-${subtask.id}`)
                p(id=`content-${subtask.id}`)= `Subtask ${subtask.id} : ${subtask.content}`
                form(class='hidden edit-subtask-form' id=`edit-subtask-form-${subtask.id}` method='post')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    div
                        label(for="content") Content:
                        input(type='text' name='content' value=`${subtask.content}`)
                    div(class="hidden")
                        label(for="taskId") TaskId:
                        input(readonly="readonly" type='text' name='taskId' value=`${task.id}`)
                    div
                        button(type='submit' class='btn btn-create-subtask') Save
                    div
                        button(id=`cancel-subtask-form-${subtask.id}` type='submit' class='btn btn-cancel-subtask') Cancel
                button(id=`edit-subtask-${subtask.id}` type='submit' class='btn btn-edit-subtask' ) Edit
                button(id=`delete-subtask-${subtask.id}` type='submit' class='btn btn-delete-subtask' ) Delete
                div(id=`subtask-error-container-${subtask.id}`)
